html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;

}
main:after {
    content: "";
    display: block;
}
footer, main:after {
    height: 80px;
}

body {
    font-family: LDFComicSans, Arial, sans-serif;
    margin: 0 auto;
    position: relative;
    /*display:  flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/

}

a {
    text-decoration: none;
}

/*Header*/
header{
    height:52px;
}
header .cont,
footer .cont{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
header .cont:after,main:after,body:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

header h1 {
    float: left;
    color: white;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    display: inline-block;
}
#LoginRegister{
    display: inline-block;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;

}
#LoginRegister li{
    display: inline-block;
}
/*Reg Page*/
.form-control{
}
#register{
    display: inline-block;
    float: right;
    margin-right: 20%;
    margin-top: 2%;
}
#login{
    display: inline-block;
    /*float: left;*/
    margin-left: 20%;
    margin-top: 2%;
}
legend{
    text-align: center;
}

/*Header end*/


/*Main*/
main {
    width: 960px;
    margin: 0 auto;
    min-height: 80%;
}
.pictures{
    width: 128px;
    height: 128px;
}
/*Main end*/

/*Aside*/


aside.categories {
    margin-top: 20px;
    display: inline-table;
    float: left;
    background-color: #4e5d6c;
    border-radius: 5px;
    padding: 10px;
    width: 10%;
    margin-left: 2%;

}
.categories h4{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.categories ul{
    list-style: none;
}
.categories a{
    font-size: 16px;
    font-weight: bold;

}


/*Aside end*/


section {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
    float: right;
    width: 100%;
}

main section.grid article {

    max-width: 200px !important;
    border: 1px solid lightgray;
    margin: 0 6px 10px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px #254566;
}

section article img {
    width: 100%;
    height: 100%;
}

article header {
    padding: 10px 5px;
    background-color: #254566;
    color: white;
    text-shadow: 2px 2px 5px #f39f00;
    font-size: 22px;
}

article>p {
    text-align: left;
    font-size: 15px;
}

article p.author {
    padding-top: 5px;
    font-size: 10px;
    font-style: italic;
}

main section article {
    display: inline-block;
    width: 200px;
    margin: 5px;
    box-shadow: 5px 5px 10px #254566;
}
/*Footer*/
footer {
    text-align: center;
    background-color: #254566;
    padding-bottom: 30px;
    width: 100%;
    height: 80px;
    text-align: center;
}

footer a {
    font-size: 12px;
    color: white;
}

footer h3 {
    color: #2b3e50;
    padding-top: 10px;
}

footer a:hover {
    color: #ff9d02;
    text-decoration: none;
}

footer>section {
    display: inline-block;
}

footer iframe {
    float:right;
    vertical-align: top;
}

.fb-like{
    float: right;
    margin-top: -40px;
}
/*Footer end*/


#developersContainer{
    width: 70%;
    margin: 0 auto;
}
#firstDeveloper{
    margin-left: 9%;
}
.developers{
    margin: 0.5%;
}
.developers img{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    -webkit-filter: grayscale(100%);
}
.developers img:hover,#gitHub:hover{
    -webkit-filter: grayscale(0%);
    transition: 0.5s;
}
main h2{
    text-align: center;
    margin-top: 10%;
}
#gitHub{
    margin-left: 45%;
    -webkit-filter: grayscale(100%);
    display: inline-block;
    margin-top: 2%;
}
/* Img Upload */
#imgUpload{
    margin-top: 10%;
    margin-left: 10%;
}
input[type='file']
{
    background:#ffffff;
}
#imgUpload input{
    margin-bottom: 20px;
}
#submitUpload{
    margin: 0 auto;
}

input{
    cursor: pointer;
}
/* user page */
#profilePicStatic{
    margin-left: 0;
    margin-top: 5%;
    display: inline-block;
}
#profilePicEditable{
    position: relative;
    display: inline-block;
    top: -24px;
}
#profilePicEditable a img,#profilePicStatic a img{
    width:200px;
    height:200px;
}
input[type="text"]:disabled {
    background: #2b3e50;
    color: #ffffff;
    border: none;
}
input[type="submit"]:disabled,input[type="file"]:disabled{
    opacity: 0;
}

#profileInfoEditable{
    
position: relative;
display: inline-block;
top: -30px;
}
#profileInfoStatic{
    width: 25%;
    display: inline-block;
    position: relative;
    top: -45px;

}

#editButton{
    float: right;
}
/* user page end */


